.app {
  background-color: #FFD289;
  min-height: 100vh
}

.app-header {
  background-color: #F4AC32;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}

.forms-section {
  max-width: 800px;
  margin: auto;
}

.form {
  margin: 10px;
}

.form-1 {
  margin-bottom: 70px;
}

.input {
  border: none;
  border-radius: 2px;
  font-size: 1em;
  padding: 10px;
  width: 60%;
}

.method-dropdown {
  font-size: 1.2em;
  margin-left: 5px;
}

.submit-button {
  background-color: #F5B82E;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  margin-left: 5px;
  padding: 10px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #FFD131;
  opacity: 0.8;
}

.result-section {
  margin: 20px;
}
