html {
  background-color: #f4f4f4;
}

/* Header Section */

header {
  width: 100vw;
  background-color: white;
  margin-bottom: 50px;
  text-align: center;
}

.app-header {
  padding: 10px;
  width: 800px;
  text-align: right;
  display: inline-block;
}

.app-header-items li {
  display: inline-block;
  margin-left: 30px;
}

.app-header-items li a {
  color: #373737;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
}

.app-header-items li a:hover {
  opacity: 0.5;
}

/* Main Section */

.main {
  text-align: center;
}

.main-title {
  color: #373737;
  font-size: 6em;
  opacity: 0.6;
  margin: 0;
}

.instructions {
  margin: 25px;
}

.instructions-text {
  background-color: #C0B283;
  color: #373737;
  padding: 7px 15px;
}

/* Forms Section */

.forms-section {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
}

.form {
  margin: 10px 10px 70px 10px;
}

.input {
  border: none;
  border-radius: 2px;
  font-size: 1em;
  padding: 10px;
  width: 60%;
}

.input-2 {
  width: 53%;
}

.method-dropdown {
  font-size: 1.2em;
  margin-left: 5px;
}

.submit-button {
  background-color: #C0B283;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  margin-left: 5px;
  padding: 10px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #DCD0C0;
  opacity: 0.8;
}

.result-section {
  color: #373737;
  margin: 20px;
  font-size: 2em;
  background-color: white;
  padding: 10px;
}

.result-section2 {
  overflow: scroll;
}

.space-holder {
  color: white;
}
